In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('/home/mpaul/projects/mpaul/data_processing/data-processing/data/twc_data/tr_ext_Solana_alldata_mapped_100per.parquet')

In [3]:
df.shape

(1946378, 282)

In [4]:

df = df[~((df['sport'].isin([53, 5353]) | df['dport'].isin([53, 5353])) | df['refined_app_label'].isna())]

In [5]:
df.shape

(1170725, 282)

In [6]:
# Check number of rows with NaN values in any column
print("Total rows with NaN values:", df.isna().any(axis=1).sum())

# Display count of NaN values per column
print("\nNaN values per column:")
print(df.isna().sum()[df.isna().sum() > 0])

Total rows with NaN values: 1170725

NaN values per column:
timeFirst_bwd           46444
timeLast_bwd            46444
duration_bwd            46444
srcIPOrg_bwd            46444
firstTimeStamp_bwd      46444
                       ...
dnsAAAqF                46444
dnsQname              1170725
dnsAname              1170722
dnsAPname             1170722
dns4Aaddress          1170725
Length: 199, dtype: int64

In [7]:
# Fill NaN values with 0 across all columns
df = df.fillna(0)

# Verify the changes
print("After filling NaN values:")
print("Total rows with NaN values:", df.isna().any(axis=1).sum())
print("\nNaN values per column:")
print(df.isna().sum()[df.isna().sum() > 0])

After filling NaN values:
Total rows with NaN values: 0

NaN values per column:
Series([], dtype: int64)

In [8]:
df.data_source.unique()

array(['2020a_Wireline_Ethernet', '2020c_Mobile_Wifi',
       '2021a_Wireline_Ethernet', '2021c_Mobile_LTE',
       '2022a_Wireline_Ethernet', '2023a_Wireline_Ethernet',
       '2023c_Mobile_LTE', '2023e_MacOS_Wifi', '2024ag_Wireline_Ethernet',
       '2024a_Wireline_Ethernet', '2024cg_Mobile_LTE', '2024c_Mobile_LTE',
       '2024e_MacOS_Wifi', 'Homeoffice2024ag_Wireline_Ethernet',
       'Homeoffice2024a_Wireline_Ethernet', 'Homeoffice2024c_Mobile_LTE',
       'Homeoffice2024e_MacOS_WiFi', 'Homeoffice2025cg_Mobile_LTE',
       'Test2023a_Wireline_Ethernet', 'Test2023c_Mobile_LTE',
       'Test2023e_MacOS_Wifi', 'Test2024ag_Wireline_Ethernet',
       'Test2024a_Wireline_Ethernet', 'Test2024cg_Mobile_LTE',
       'Test2024c_Mobile_LTE', 'Test2024e_MacOS_Wifi'], dtype=object)

In [9]:
d1_data_sources = ['2020a_Wireline_Ethernet', 
'2020c_Mobile_Wifi',
'2021a_Wireline_Ethernet', 
'2021c_Mobile_LTE',
'2022a_Wireline_Ethernet', 
'2023a_Wireline_Ethernet',
'2023c_Mobile_LTE', 
'2023e_MacOS_Wifi', 
'2024ag_Wireline_Ethernet',
'2024a_Wireline_Ethernet', 
'2024cg_Mobile_LTE', 
'2024c_Mobile_LTE',
'2024e_MacOS_Wifi']


d3_data_sources= ['Homeoffice2024ag_Wireline_Ethernet',
'Homeoffice2024a_Wireline_Ethernet', 
'Homeoffice2024c_Mobile_LTE',
'Homeoffice2024e_MacOS_WiFi', 
'Homeoffice2025cg_Mobile_LTE']

d2_data_sources = ['Test2023a_Wireline_Ethernet', 
'Test2023c_Mobile_LTE',
'Test2023e_MacOS_Wifi', 
'Test2024ag_Wireline_Ethernet',
'Test2024a_Wireline_Ethernet', 
'Test2024cg_Mobile_LTE',
'Test2024c_Mobile_LTE', 
'Test2024e_MacOS_Wifi']

# Create datasets based on data_source values
d1 = df[df['data_source'].isin(d1_data_sources)].copy()
d2 = df[df['data_source'].isin(d2_data_sources)].copy()
d3 = df[df['data_source'].isin(d3_data_sources)].copy()

# Print the shapes of each dataset to verify
print("Shape of d1 (Solana dataset):", d1.shape)
print("Shape of d2 (SolanaTest dataset):", d2.shape) 
print("Shape of d3 (Solana Home Office dataset):", d3.shape)

# Save the datasets to parquet files
d1.to_csv('/home/mpaul/projects/mpaul/data_processing/data-processing/data/twc_data/d1.csv')
d2.to_csv('/home/mpaul/projects/mpaul/data_processing/data-processing/data/twc_data/d2.csv')
d3.to_csv('/home/mpaul/projects/mpaul/data_processing/data-processing/data/twc_data/d3.csv')

Shape of d1 (Solana dataset): (1034650, 282)
Shape of d2 (SolanaTest dataset): (102484, 282)
Shape of d3 (Solana Home Office dataset): (33591, 282)